---
layout: home
---
{% capture artist %}{% include about/artist.md %}{% endcapture %}
{% capture advocate %}{% include about/advocate.md %}{% endcapture %}
{% capture programmer %}{% include about/programmer.md %}{% endcapture %}

<section class="hero home-hero">
	<div class="hero-body">
		<div class="container">
			<h1 class="title">
         {{ site.title }}
       </h1>
			<h2 class="subtitle">
         {{ site.subtitle }}
       </h2>
		</div>
	</div>
</section>

<section class="hero is-dark">
	<div class="hero-body">
		<div class="container">
			<h1 class="title is-1">I make art.</h1>
		</div>
	</div>
</section>

<div class="section"><div class="container">
	<div class="columns is-variable is-8 is-desktop">

		<div class="column">
			{% include featured-art.html %}
		</div>

		<div class="column">
			<div class="content is-size-5">{{ artist | markdownify }}</div>
			<div class="has-text-centered">
				<a class="button is-large is-outlined is-inverted is-dark has-text-weight-semibold" href="/art">
					<span>See my art</span>
					<span class="icon"><i class="fas fa-chevron-right fa-sm"></i></span>
				</a>
			</div>
		</div>

	</div>
</div></div>

<section class="hero is-dark">
	<div class="hero-body">
		<div class="container">
			<h1 class="title is-1">I write code.</h1>
		</div>
	</div>
</section>

<div class="section"><div class="container">
	<div class="columns is-variable is-8 is-desktop">
		<div class="column">
			{% include featured-code.html %}
		</div>
		<div class="column">
			<div class="content is-size-5">
				{{ programmer | markdownify }}
			</div>
			<div class="has-text-centered">
				<a class="button is-large is-outlined is-inverted is-dark has-text-weight-semibold" href="/code">
					<span>See my code</span>
					<span class="icon"><i class="fas fa-chevron-right fa-sm"></i></span>
				</a>
			</div>
		</div>
	</div>
</div></div>

<section class="hero is-dark">
	<div class="hero-body">
		<div class="container">
			<h1 class="title is-1">And I advocate for my community.</h1>
		</div>
	</div>
</section>

<div class="section"><div class="container">
	<div class="columns is-variable is-8 is-desktop">

		<div class="column image-block">
			<img src="/assets/svg/queer-trans-symbol.svg"></img>
		</div>

		<div class="column">
			<div class="content is-size-5">
				{{ advocate | markdownify }}
			</div>
			<div class="has-text-centered">
				<a class="button is-large is-outlined is-inverted is-dark has-text-weight-semibold" href="/code">
					<span>See my work</span>
					<span class="icon"><i class="fas fa-chevron-right fa-sm"></i></span>
				</a>
			</div>
		</div>

	</div>
</div></div>
