---
layout: default
title: Portfolio
permalink: /portfolio
---
<div class="grid is-col-min-15 is-gap-1">
    {% for cat in site.data.categories %}
        <div class="cell">
            {% assign transformation = site.data.images.transformations | where: 'type', 'thumb' | where: 'public_id', post.thumb | first | default: site.data.default.transformation.thumb %}
            {% include portfolio/square.html public_id = cat.thumb title = cat.title url = cat.permalink transformation = transformation %}
        </div>
    {% endfor %}
</div>
