---
layout: default
title: Work
subtitle: My professional and academic experience.
---
{% include hero.html title=page.title subtitle=page.subtitle %}
<section class="section"><div class="container"><div class="columns is-8 is-variable">

	<div class="column is-9">
		{% include employment.html employment=site.data.work.employment %}
		{% include education.html education=site.data.work.education classes=site.data.work.classes %}
		{% include experience.html experience=site.data.work.experience %}
		{% include projects.html projects=site.data.work.projects %}
		{% include skills.html skills=site.data.work.skills %}
	</div>

	<div class="column is-3">
		{% include work-nav.html %}
	</div>




</div></div></section>
