---
layout: default
title: Work
subtitle: My professional and academic experience.
---
{% include hero.html title=page.title subtitle=page.subtitle %}

<section class="section"><div class="container"><div class="tile is-ancestor">

	<div class="tile is-vertical is-4"><div class="tile"><div class="tile is-parent is-vertical">

		<article class="tile is-child notification is-primary is-narrow">
			{% include profile.html %}
		</article>
		<article class="tile is-child card"><div class="card-content">
			{% include skills.html skills=site.data.work.skills %}
		</div></article>

	</div></div></div>

	<div class="tile is-vertical is-8"><div class="tile"><div class="tile is-parent is-vertical">

		<article class="tile is-child card"><div class="card-content">
			{% include employment.html employment=site.data.work.employment %}
		</div></article>
		<article class="tile is-child card"><div class="card-content">
			{% include education.html education=site.data.work.education classes=site.data.work.classes %}
		</div></article>
		<article class="tile is-child card"><div class="card-content">
			{% include experience.html experience=site.data.work.experience %}
		</div></article>

	</div></div></div>

</div></div></section>
