{% assign url = site.baseurl | append: '/' } {% assign is_active = '' %}
{% assign aria_current = '' %}

{% assign paths = include.url | breadcrumb_paths %}
{% assign titles = include.url | breadcrumb_titles %}
{% assign length = paths.size | minus: 1 %}
<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        {% for i in (0..(length) %}
            {% if i == length %}
                {% assign is_active = 'is-active' %}
                {% assign aria_current = 'page' %}
            {% endif %}
            {% assign url = url | append: paths[i] | append: '/' %}
            <li class="{{ is_active }}">
                <a href="{{ url }}" aria-current="{{ aria_current }}">
                    {{ titles[i] }}
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>
