{% assign src = site.cloud_name | image_url: include.id, 'jpeg', include.transformations %}

<div class="card">
	<div class="card-image">
		<a href="{{ include.url }}">
			<figure class="image is-1by1 is-skeleton">
				<img class="hover-initial" src="{{src}}" />
				<p class="hover-terminal is-family-secondary is-size-4 has-text-weight-bold has-text-centered is-justify-content-center is-align-items-center p-4 has-text-black has-background-white">
					{{ include.title }}
				</p>
			</figure>
		</a>
	</div>
</div>
