<div class="content">
<p>I'm a queer, trans and <a href="https://en.wikipedia.org/wiki/Neurodiversity">neurodivergent</a> artist. I am a woman. I use art and programming to advocate for my community and analyze systems of oppression. I also design neat patterns. </p>
<p><b>My community is my family.</b> And I have a strong passion to support all queer, trans, and neurodivergent people. I am on a lifelong journey -- constantly learning and gaining new skills to support them. </p>
<p>In 2013, I graduated from St. Mary's College of Maryland with a degree in computer science, and a minor in neuroscience. I've been a Baltimore native since then. Currently I'm working with the Baltimore Transgender Alliance, using technology and design for trans liberation.</p>
</div>
