{% assign img_size = 640 %}
{% assign img_thumb_prefix = "https://res.cloudinary.com/" | append: site.cloud_name | append: "/w_" | append: img_size | append: ",h_" | append: img_size | append: ",c_fill/w_" | append: img_size | append: ",h_" | append: img_size | append: ",c_crop/" %}

{% assign img_count = include.images | size %}
{% assign mobile_rows = 1 %}
{% assign mobile_cols = 1 %}
{% assign tablet_rows = 2 %}
{% assign tablet_cols = 2 %}
{% assign desktop_rows = 2 %}
{% assign desktop_cols = 3 %}
{% assign mobile_no_slide = '' %}
{% assign tablet_no_slide = '' %}
{% assign desktop_no_slide = '' %}

{% if img_count == 1 %}
	{% assign mobile_rows = 1 %}
	{% assign mobile_cols = 1 %}
	{% assign tablet_rows = 1 %}
	{% assign tablet_cols = 1 %}
	{% assign desktop_rows = 1 %}
	{% assign desktop_cols = 1 %}
	{% assign mobile_no_slide = 'no-slide' %}
	{% assign tablet_no_slide = 'no-slide' %}
	{% assign desktop_no_slide = 'no-slide' %}
	{% assign img_thumb_prefix = "https://res.cloudinary.com/" | append: site.cloud_name | append: "/h_" | append: img_size | append: ",c_fill/" %}
{% elsif img_count == 2 %}
	{% assign mobile_rows = 1 %}
	{% assign mobile_cols = 1 %}
	{% assign tablet_rows = 1 %}
	{% assign tablet_cols = 1 %}
	{% assign desktop_rows = 1 %}
	{% assign desktop_cols = 2 %}
	{% assign mobile_no_slide = '' %}
	{% assign tablet_no_slide = '' %}
	{% assign desktop_no_slide = 'no-slide' %}
{% elsif img_count == 3 %}
	{% assign mobile_rows = 1 %}
	{% assign mobile_cols = 1 %}
	{% assign tablet_rows = 1 %}
	{% assign tablet_cols = 1 %}
	{% assign desktop_rows = 1 %}
	{% assign desktop_cols = 3 %}
	{% assign mobile_no_slide = '' %}
	{% assign tablet_no_slide = '' %}
	{% assign desktop_no_slide = 'no-slide' %}
{% elsif img_count == 4 %}
	{% assign mobile_rows = 1 %}
	{% assign mobile_cols = 1 %}
	{% assign tablet_rows = 2 %}
	{% assign tablet_cols = 2 %}
	{% assign desktop_rows = 2 %}
	{% assign desktop_cols = 2 %}
	{% assign mobile_no_slide = '' %}
	{% assign tablet_no_slide = 'no-slide' %}
	{% assign desktop_no_slide = 'no-slide' %}
{% elsif img_count == 5 %}
	{% assign mobile_rows = 1 %}
	{% assign mobile_cols = 1 %}
	{% assign tablet_rows = 2 %}
	{% assign tablet_cols = 2 %}
	{% assign desktop_rows = 1 %}
	{% assign desktop_cols = 3 %}
	{% assign mobile_no_slide = '' %}
	{% assign tablet_no_slide = '' %}
	{% assign desktop_no_slide = '' %}
{% elsif img_count == 6 %}
	{% assign mobile_rows = 1 %}
	{% assign mobile_cols = 1 %}
	{% assign tablet_rows = 2 %}
	{% assign tablet_cols = 2 %}
	{% assign desktop_rows = 2 %}
	{% assign desktop_cols = 3 %}
	{% assign mobile_no_slide = '' %}
	{% assign tablet_no_slide = '' %}
	{% assign desktop_no_slide = 'no-slide' %}
{% endif %}

{% capture inner %}
	<div class="a-carousel-navigation is-left">
		<span class="a-carousel-nav-left button is-large is-outlined is-dark"><span class="icon"><i class="fas fa-chevron-left"></i></span></span>
	</div>
	<div class="a-carousel-main">
		<div class='a-carousel-container'>
			{% for image in include.images %}
				{% assign img_thumb = img_thumb_prefix | append: image.public_id %}
				{% assign modal_id = 'image_' | append: image.public_id | replace: '/', '_' | handleize %}
				{% assign isactive = "" %}
				{% if forloop.first %}{% assign isactive = 'is-active' %}{% endif %}
				<div class='a-carousel-item {{isactive}}' onClick="openModal( '{{ modal_id }}' )"><div class="a-carousel-img">
					<img src="{{ img_thumb }}">
				</div></div>
			{% endfor %}
		</div>
	</div>
	<div class="a-carousel-navigation is-right">
		<span class="a-carousel-nav-right button is-large is-outlined is-dark"><span class="icon"><i class="fas fa-chevron-right"></i></span></span>
	</div>
{% endcapture %}

<div class="is-hidden-tablet block">
	<div class="a-carousel is-{{mobile_cols}}by{{mobile_rows}} has-nav-lr-bottom {{mobile_no_slide}} is-light is-animated is-animated-slide">
		{{ inner }}
	</div>
</div>

<div class="is-hidden-mobile is-hidden-desktop block">
	<div class="a-carousel is-{{tablet_cols}}by{{tablet_rows}} has-nav-lr {{tablet_no_slide}} is-light is-animated is-animated-slide">
		{{ inner }}
	</div>
</div>

<div class="is-hidden-touch block">
	<div class="a-carousel is-{{desktop_cols}}by{{desktop_rows}} has-nav-lr {{desktop_no_slide}} is-light is-animated is-animated-slide">
		{{ inner }}
	</div>
</div>


{% for image in include.images %}
	{% assign modal_id = 'image_' | append: image.public_id | replace: '/', '_' | handleize %}
	<div class="modal a-carousel-modal" id="{{ modal_id }}">
		<div class="modal-background"></div>
		<div class="modal-content">
			<img class="modal-image block" src="https://res.cloudinary.com/{{ site.cloud_name }}/{{ image.public_id }}">
			<div class="modal-details">
				<p class="is-size-4 has-text-centered">{{ image.details | upcase }}</p>
			</div>
		</div>
		<button class="modal-close is-large" aria-label="close" onclick=" closeModal('{{modal_id}}')"></button>
	</div>
{% endfor %}