{% assign image_height = 360 %}
{% assign image_width = 640 %}

<div class="card">

	<div class="card-image">
		<figure class="image is-16by9">
			{% if post.images %}
				{% include card-image.html images=post.images img_height=360 img_width=640 %}
				<img src="{{ img_url }}"
			{% endif %}
		</figure>
	</div>

	<div class="card-content">

		<div class="columns is-mobile">
			<div class="column">
				<h5 class="title is-size-5">{{ post.title | upcase }}</h5>
				<h6 class="subtitle is-size-6"><time>{{ post.date | date: "%^b %e %Y" }}</time></h6>
			</div>


			<div class="column is-narrow">
				<div class="tags has-text-right-desktop">
					{% for category in post.categories %}
						{% unless category == 'art' %}<a class="tag is-medium is-dark" href="/art/{{category}}">{{ category | downcase }}</a>{% endunless %}
					{% endfor %}
				</div>
			</div>
		</div>

   </div>

	<div class="card-footer">
		<div class='card-footer-item' style="justify-content: flex-end;">
			<a class="button is-dark is-primary is-medium" href="{{ post.url }}">
				<span class="icon"><i class="fas fa-eye"></i></span>
				<span>View</span>
			</a>
		</div>
	</div>


</div>
