
<div class="columns is-gapless">
    <div class="column">
        <div class="is-bayer-4x4-00"></div>
        <div class="is-bayer-4x4-01"></div>
        <div class="is-bayer-4x4-02"></div>
        <div class="is-bayer-4x4-03"></div>
        <div class="is-bayer-4x4-04"></div>
        <div class="is-bayer-4x4-05"></div>
        <div class="is-bayer-4x4-06"></div>
        <div class="is-bayer-4x4-07"></div>
        <div class="is-bayer-4x4-08"></div>
        <div class="is-bayer-4x4-09"></div>
        <div class="is-bayer-4x4-10"></div>
        <div class="is-bayer-4x4-11"></div>
        <div class="is-bayer-4x4-12"></div>
        <div class="is-bayer-4x4-13"></div>
        <div class="is-bayer-4x4-14"></div>
        <div class="is-bayer-4x4-15"></div>
        <div class="is-bayer-4x4-16"></div>
    </div>
    <div class="column is-two-thirds is-flex-direction-column" style="background-color:#2e333d;">
        <section class="is-flex-direction-column">
            <div class="container" >
                LOREM IPSUM
            </div>
        </section>
    </div>
    <div class="column">
        <div class="is-bayer-4x4-00"></div>
        <div class="is-bayer-4x4-01"></div>
        <div class="is-bayer-4x4-02"></div>
        <div class="is-bayer-4x4-03"></div>
        <div class="is-bayer-4x4-04"></div>
        <div class="is-bayer-4x4-05"></div>
        <div class="is-bayer-4x4-06"></div>
        <div class="is-bayer-4x4-07"></div>
        <div class="is-bayer-4x4-08"></div>
        <div class="is-bayer-4x4-09"></div>
        <div class="is-bayer-4x4-10"></div>
        <div class="is-bayer-4x4-11"></div>
        <div class="is-bayer-4x4-12"></div>
        <div class="is-bayer-4x4-13"></div>
        <div class="is-bayer-4x4-14"></div>
        <div class="is-bayer-4x4-15"></div>
        <div class="is-bayer-4x4-16"></div>
    </div>
</div>  




<!-- <div class="is-macpaint-02"></div>
<div class="is-macpaint-09"></div> -->