
<h1 id="employment" class="title has-text-centered-mobile is-size-4-mobile is-size-5-tablet is-size-5-desktop is-size-4-widescreen">EDUCATION</h1>

{% for inst in include.education %}
	<nav class="level">

		<div class="level-left">

			<div class="level-item has-text-centered-mobile">
				<span class="icon is-large"><span class="fa-stack fa-lg" style="flex; align-items:center;">
					<i class="fas fa-circle fa-stack-2x has-text-primary"></i>
					<i class="fas fa-graduation-cap fa-stack-1x"></i>
				</span></span>
			</div>

			<div class="level-item has-text-centered-mobile"><div>
				<p class="heading is-size-6-mobile is-size-7-tablet is-size-7-desktop is-size-6-widescreen">{{ inst.inst }}</p>
				<p class="subtitle is-size-6-mobile is-size-7-tablet is-size-7-desktop is-size-6-widescreen">{{ inst.desc }}</p>
			</div></div>

		</div>

		<div class="level-right">

			<div class="level-item has-text-right-tablet has-text-centered-mobile"><div>
				<div class="heading is-size-6-mobile is-size-7-tablet is-size-7-desktop is-size-6-widescreen">
					<time datetime="2016-1-1">{{ inst.start | date: "%^b %y" }}</time>&nbsp;-&nbsp;
					<time datetime="2016-1-1">{{ inst.end | date: "%^b %y" | default: 'present' }}</time>
				</div>
				<p class="subtitle is-size-6-mobile is-size-7-tablet is-size-7-desktop is-size-6-widescreen">{{ inst.loc }}</p>
			</div></div>

		</div>

	</nav>
{% endfor %}

<h1 id="classes" class="title has-text-centered-mobile is-size-4-mobile is-size-5-tablet is-size-5-desktop is-size-4-widescreen">CLASSES</h1>
<div class="notification">
	<div class="field is-grouped is-grouped-multiline">
		{% for class in include.classes %}
			<div class="control"><div class="tags has-addons">
				<span class="tag is-{{ class.color }}">{{ class.type | downcase }}</span>
				<span class="tag is-light">{{ class.title | downcase }}</span>
			</div></div>
		{% endfor %}
	</div>
</div>
