<form action="mailto:{{ site.data.links.email.address }}" method="get" enctype="text/plain">

	<div class="field is-horizontal">
		<div class="field-label is-normal">
			<label class="label">Name</label>
		</div>

		<div class="field-body">
			<div class="field">
				<div class="control">
					<input class="input" type="text" name="name" placeholder="Text input">
				</div>
			</div>
		</div>
	</div>

	<div class="field is-horizontal">
		<div class="field-label is-normal">
			<label class="label">Email</label>
		</div>

		<div class="field-body">
			<div class="field">
				<div id="email-input" class="control has-icons-left has-icons-right">
					<input class="input" type="email" name="email" placeholder="Email input">
					<span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
				</div>
			</div>
		</div>
	</div>

	<div class="field is-horizontal">
		<div class="field-label is-normal">
			<label class="label">Message</label>
		</div>
		<div class="field-body">
			<div class="field">
				<div class="control">
					<textarea class="textarea" placeholder="Write a message." name="comments"></textarea>
				</div>
			</div>
		</div>
	</div>

	<div class="field is-horizontal">
		<div class="field-label"></div>
		<div class="field-body">
			<div class="field">
				<div class="control">
					<input class="button is-primary" type="submit" name="submit" value="Send Message">
					</input>
				</div>
			</div>
		</div>
	</div>
</form>
