
<h1 id="experience" class="title has-text-centered-mobile is-size-4-mobile is-size-5-tablet is-size-5-desktop is-size-4-widescreen">OTHER EXPERIENCE</h1>
{% for exp in include.experience %}

	<nav class="level">

		<div class="level-left">

			<div class="level-item">
				<span class="icon is-large"><span class="fa-stack fa-lg" style="flex; align-items:center;">
					<i class="fas fa-circle fa-stack-2x has-text-primary"></i>
					<i class="fas fa-briefcase fa-stack-1x"></i>
				</span></span>
			</div>

			<div class="level-item has-text-centered-mobile"><div>
				<p class="heading is-size-6-mobile is-size-7-tablet is-size-7-desktop is-size-6-widescreen">{{ exp.title }}</p>
				<p class="subtitle is-size-6-mobile is-size-7-tablet is-size-7-desktop is-size-6-widescreen">{{ exp.pos }}</p>
			</div></div>

		</div>

		<div class="level-right">

			<div class="level-item has-text-right-tablet has-text-centered-mobile"><div>
			<div class="heading is-size-6-mobile is-size-7-tablet is-size-7-desktop is-size-6-widescreen">
					<time datetime="2016-1-1">{{ exp.start | date: "%^b %y" }}</time>&nbsp;-&nbsp;
					<time datetime="2016-1-1">{{ exp.end | date: "%^b %y" | default: 'present' }}</time>
				</div>
			<p class="subtitle is-size-6-mobile is-size-7-tablet is-size-7-desktop is-size-6-widescreen">{{ exp.loc }}</p>
			</div></div>

			<div class="level-item" onclick="openModal( '{{ modal_id }}' )">
				<a class="button is-hidden-mobile is-hidden-desktop"><span class='icon'><i class="fas fa-info"></i></span></a>
				<a class="button is-hidden-tablet-only"><span>INFO</span><span class='icon'><i class="fas fa-info"></i></span></a>
			</div>

		</div>

	</nav>

{% endfor %}

{% for exp in include.experience %}
	{% assign modal_id = 'exp' | append: forloop.index %}
	<div class="modal" id="{{ modal_id }}">
		<div class="modal-background"></div>
		<div class="modal-content">
			<div class="notification">
				<p class="heading is-size-6">{{ exp.title }}</p>
				<p class="subtitle is-6">{{ exp.pos }}</p>
				<ul class="styled-list">
				{% for deet in exp.details %}
					<li class="is-size-7">{{ deet }}</li>
				{% endfor %}
				</ul>
			</div>
		</div>
		<button class="modal-close is-large" aria-label="close" onclick=" closeModal('{{modal_id}}')"></button>
	</div>
{% endfor %}
