{% assign code = site.posts | where_exp: "item", "item.categories contains 'code'" | where: "featured", "true" | limit: 5 %}
<nav class="panel">

	{% for post in code %}
	<a class="panel-block" href="{{post.url}}">
			<span class="panel-icon">
				{% assign subcategory_nm = post.categories | where_exp: 'item', "item != 'code'" | first %}
				{% assign subcategory = site.data.categories | where: 'subcategory', subcategory_nm | first %}
				<i class="{{ subcategory.icon }}"></i>
			</span>
			<span>{{ post.title }}</span>
			<span style="flex: 1;"></span>
			<time class="has-text-right" datetime="2016-1-1">{{ post.date | date_to_long_string }}</time>

	</a>
	{% endfor %}

</nav>
