{% assign posts = site.posts | where_exp: "item", "item.categories contains 'art'" | where: "featured", "true" | limit: 5 | sort: 'date' | reverse %}
{% assign w = 630 %}
{% assign h = 420 %}
<div class="a-carousel is-1by1 has-nav-lr-bottom has-img-3by2 is-dark is-animated">

	<div class="a-carousel-navigation is-left">
		<span class="a-carousel-nav-left button is-large"><span class="icon"><i class="fas fa-chevron-left"></i></span></span>
	</div>
	<div class="a-carousel-main">
		<div class='a-carousel-container'>
			{% for post in posts %}
				{% assign isactive = "" %}
				{% if forloop.first %}{% assign isactive = 'is-active' %}{% endif %}
				<div class='a-carousel-item {{isactive}}' onClick="clickCarousel('{{ post.url }}')"><div class="a-carousel-img">
					<img src="https://res.cloudinary.com/{{ site.cloud_name }}/w_{{w}},h_{{h}},c_fill/w_{{w}},h_{{h}},c_crop/{{ post.images[0].public_id }}">
				</div></div>
			{% endfor %}
		</div>
	</div>
	<div class="a-carousel-navigation is-right">
		<span class="a-carousel-nav-right button is-large"><span class="icon"><i class="fas fa-chevron-right"></i></span></span>
	</div>

</div>

<!-- <div class="carousel is-1 has-nav-lr-bottom is-dark">
	<div class="carousel-navigation is-left">
		<span class="carousel-nav-left button is-large"><span class="icon has-text-grey-light"><i class="fas fa-chevron-left"></i></span></span>
	</div>
	
	<div class='carousel-main'>
		<div class='carousel-container'>
			{% for post in posts %}
				{% assign isactive = "" %}
				{% if forloop.first %}{% assign isactive = 'is-active' %}{% endif %}
					<div class='carousel-item {{isactive}}' onClick="clickCarousel('{{ post.url }}')">
						<figure class="image is-2by3">
							<img src="https://res.cloudinary.com/{{ site.cloud_name }}/w_{{w}},h_{{h}},c_fill/w_{{w}},h_{{h}},c_crop/{{ post.images[0].public_id }}">
						</figure>
					</div>
			{% endfor %}
		</div>
	</div>

	<div class="carousel-navigation is-right">
		<span class="carousel-nav-right button is-large is-outlined"><span class="icon has-text-grey-light"><i class="fas fa-chevron-right"></i></span></span>
	</div>
</div> -->


<!-- {% assign art = site.posts | where_exp: "item", "item.categories contains 'art'" | where: "featured", "true" | limit: 5 | sort: 'date' | reverse %}
<div class='carousel featured-art carousel-animated carousel-animate-slide'>
	<div class='carousel-container'>
		{% for post in art %}
			{% assign isactive = "" %}
			{% if forloop.first %}{% assign isactive = 'is-active' %}{% endif %}
			{% if post.images %}
				<div onclick="clickCarousel('{{ post.url }}')" class='carousel-item {{isactive}}'>
					<figure class="image is-2by3">
						<img src="https://res.cloudinary.com/{{ site.cloud_name }}/w_720,h_480,c_fill/w_720,h_480,c_crop/{{ post.images[0].public_id }}">
						<div class="title is-uppercase is-size-6">{{ post.title }}</div>
					</figure>
				</div>
			{% endif %}
		{% endfor %}

	</div>
	<div class="carousel-navigation">

		<div class="carousel-nav-left">
			<i class="fas fa-chevron-left" aria-hidden="true"></i>
		</div>
		<div class="carousel-nav-right">
			<i class="fa fa-chevron-right" aria-hidden="true"></i>
		</div>

	</div>
</div> -->
