{% capture summary %}{% include about/summary.md %}{% endcapture %}
<footer class="footer">
  <div class="container">
	  <div class="columns">

		<div class="column is-2">
			<p class="title is-4">Site Map</p>
			<aside class="menu">
				<ul class="menu-list">
				{% for link in site.data.nav %}
					<li><a href="{{ link.href }}">{{ link.title }}</a>
					{% if link.links %}
					<ul>
						{% for l in link.links %}
							<li><a href="{{ l.href }}">{{ l.title }}</a>
						{% endfor %}
					</ul>
					{% endif %}
					</li>
				{% endfor %}
				</ul>
			</aside>
		</div>

		<div class="column is-6">
			<p class="title is-4">About Me</p>
			<div class="content">
				<p class="is-size-6">{{ summary | markdownify }}</p>
			</div>
			<div class="is-divider" data-content="SUPPORT TRANS ARTISTS WORK"></div>
			<p class="buttons">
				<a class="button is-medium is-white is-outlined" href="{{site.data.links.patreon.href}}">
					<span class="icon"><i class="{{site.data.links.patreon.icon}}"></i></span>
					<span>Become a Patron</span>
				</a>
				<a class="button is-medium is-white is-outlined" href="{{site.data.links.paypal.href}}">
					<span class="icon"><i class="{{site.data.links.paypal.icon}}"></i></span>
					<span>Donate via PayPal</span>
				</a>
			</p>
		</div>

		<div class="column is-4">
			<p class="title is-4">Connect With Me</p>
			<p>Contact me at <a href="{{site.data.links.email.href}}">{{site.data.links.email.address}}</a> for commisions. Or follow my work/ connect with me using the links below: </p>
			<div class="is-divider"></div>
			<div class="columns">

				<div class="column">
					<p class="field"><a class="button is-medium is-white is-outlined" href="{{site.data.links.email.href}}">
						<span class="icon"><i class="{{site.data.links.email.icon}}"></i></span>
						<span>Email</span>
					</a></p>
					<p class="field"><a class="button is-medium is-white is-outlined" href="{{site.data.links.github.href}}">
						<span class="icon"><i class="{{site.data.links.github.icon}}"></i></span>
						<span>Github</span>
					</a></p>

					<p class="field"><a class="button is-medium is-white is-outlined" href="{{site.data.links.facebook.href}}">
						<span class="icon"><i class="{{site.data.links.facebook.icon}}"></i></span>
						<span>Facebook</span>
					</a></p>
				</div>

				<div class="column">
					<p class="field"><a class="button is-medium is-white is-outlined" href="{{site.data.links.linkedin.href}}">
						<span class="icon"><i class="{{site.data.links.linkedin.icon}}"></i></span>
						<span>LinkedIn</span>
					</a></p>
					<p class="field"><a class="button is-medium is-white is-outlined" href="{{site.data.links.instagram.href}}">
						<span class="icon"><i class="{{site.data.links.instagram.icon}}"></i></span>
						<span>Instagram</span>
					</a></p>
					<p class="field"><a class="button is-medium is-white is-outlined" href="{{site.data.links.twitter.href}}">
							<span class="icon"><i class="{{site.data.links.twitter.icon}}"></i></span>
							<span>Twitter</span>
					</a></p>
				</div>

			</div>
		</div>
	  </div>
  </div>
</footer>
