<footer class="footer">
  <div class="container">
	  <div class="columns">

		<div class="column is-4">

		</div>

		<div class="column is-4">

		</div>

		<div class="column is-4">
			<span><i class="fa fa-2x fa-facebook-square has-text-white"></i></span>
			<span><i class="fa fa-2x fa-github-square has-text-white"></i></span>
			<span><i class="fa fa-2x fa-twitter-square has-text-white"></i></span>
			<span><i class="fa fa-2x fa-linkedin-square has-text-white"></i></span>
		</div>
	  </div>
  </div>
</footer>
