<nav
    class="navbar is-spaced is-family-secondary has-text-weight-bold is-size-5"
    role="navigation"
    aria-label="main-navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                {{ site.title_short }}
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                {% for pg in site.data.pages %}
                    <a class="navbar-item" href="{{ site.base_url | append: pg.href }}">
                        {{ pg.title }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</nav>
