{% assign size = 540 %}

{% assign modal_id = 'image_' | append: include.images[0].public_id | replace: '/', '_' | handleize %}
<div class="post-image-container">
	<a class="post-image" onClick="openModal( '{{ modal_id }}' )">
		<img src="https://res.cloudinary.com/{{ site.cloud_name }}/h_{{size}},c_fill/{{ include.image.public_id }}">
	</a>
</div>
<div class="modal" id="{{ modal_id }}">
	<div class="modal-background"></div>
	<div class="modal-content">
		<img src="https://res.cloudinary.com/{{ site.cloud_name }}/{{ include.image.public_id }}">
	</div>
	<button class="modal-close is-large" aria-label="close" onclick=" closeModal('{{modal_id}}')"></button>
</div>


<div class="modal" id="{{ modal_id }}">
	<div class="modal-background"></div>
	<div class="modal-content">
		<img src="https://res.cloudinary.com/{{ site.cloud_name }}/{{ image.public_id }}">
	</div>
	<button class="modal-close is-large" aria-label="close" onclick=" closeModal('{{modal_id}}')"></button>
</div>