<h1 id="projects" class="title is-1">Projects</h1>
{% for proj in include.projects %}
	<div class="card block"><div class="card-content">
		<nav class="level">
			<div class="level-left">
				<div>
					<p class="title is-4">{{ proj.pos }}</p>
					<p class="subtitle is-6">{{ proj.org }}</p>
				</div>
			</div>
			<div class="level-right">
				<div>
					<time class="has-text-right" datetime="2016-1-1">{{ proj.start | date: "%B %Y" }}</time>&nbsp;-&nbsp;
					{% if proj.end %}<time datetime="2016-1-1">{{ proj.end | date: "%B %Y" }}</time>
					{% else %}Present
					{% endif %}
					<p class="subtitle is-6 has-text-right-desktop">{{ proj.loc }}</p>
				</div>
			</div>
		</nav>
		<div class="content has-text-light">
			<ul>
				{% for deet in proj.details %}
					<li>{{ deet }}</li>
				{% endfor %}
			</ul>
		</div>
	</div></div>

{% endfor %}
