{% assign skills = include.skills | sort: 'title' | sort: 'type' %}

		<h1 class="title is-size-4-mobile is-size-5-tablet is-size-5-desktop is-size-4-widescreen">SKILLS/ EXPERTISE</h1>
		<div class="notification">
			<nav class="level">

				<div class="level-item">
					<div class="level-item has-text-centered"><div>
						<p><span class="icon"><i class="fas fa-circle has-text-danger"></i></span></p>
						<p class="header is-size-6-mobile is-size-7-tablet is-size-7-desktop is-size-6-widescreen">PEOPLE</p>
					</div></div>
				</div>

				<div class="level-item">
					<div class="level-item has-text-centered"><div>
						<p><span class="icon"><i class="fas fa-circle has-text-success"></i></span></p>
						<p class="header is-size-6-mobile is-size-7-tablet is-size-7-desktop is-size-6-widescreen">ART</p>
					</div></div>
				</div>

				<div class="level-item">
					<div class="level-item has-text-centered"><div>
						<p><span class="icon"><i class="fas fa-circle has-text-primary"></i></span></p>
						<p class="header is-size-6-mobile is-size-7-tablet is-size-7-desktop is-size-6-widescreen">CODE</p>
					</div></div>
				</div>
			</div>
		</nav>

		{% for skill in skills  %}
			<div class="block">
				<p class="heading is-size-6-mobile is-size-7-tablet is-size-7-desktop is-size-6-widescreen">{{ skill.title | upcase }}</p>
				<progress class="progress is-{{ skill.color }}" value="{{ skill.rating }}" max="100">{{ skill.rating | append: "%" }}</progress>
			</div>
		{% endfor %}
