{% assign categories = site.data.categories | where: "category", include.category %}

<div class="tabs is-medium is-boxed artwork-tabs"><ul>
    {% for category in categories %}
        {% if (include.category == category.category) and (include.subcategory == category.subcategory) %}
            {% assign isactive = 'is-active' %}
        {% else %}
            {% assign isactive = '' %}
        {% endif %}
		<li class="{{ isactive }}"><a href="{{ category.href}}">{{ category.tab-title }}</a></li>
    {% endfor %}
</ul></div>
