{% assign tags = site.data.tags | where: "category", include.category %}
{% assign grouped = tags | group_by: "type" %}
<div class="box is-dark">
    <aside class="menu">
        <p class="title is-4">Tags</p>

        {% for type in grouped %}
            <p class="menu-label">{{ type.name | capitalize }}</p>
            <ul class="menu-list">
                {% for tag in type.items %}
                    {% if include.tag == tag.name %}
                        {% assign isactive = "is-active" %}
                    {% else %}
                        {% assign isactive = "" %}
                    {% endif %}
                    <li>
                        <a class="{{ isactive }}" href="{{ tag.href }}">{{ tag.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}

    </aside>
</div>
