@use "variables" as v;

// BULMA STUFF

@use "bulma/sass/utilities" with (
	$primary: v.$primary,
	$background: v.$background,
	$link: v.$link,
	$scheme-h: v.$scheme-h,
	$scheme-s: v.$scheme-s,
	$family-primary: v.$family-primary,
	$family-secondary: v.$family-secondary
);

@forward "bulma/sass/base";
@use "bulma/sass/components/card" with (
	$card-radius: v.$card-radius,
	$card-shadow: v.$card-shadow
);
@forward "bulma/sass/components/breadcrumb";
@forward "bulma/sass/components/modal";
@forward "bulma/sass/components/navbar";
@forward "bulma/sass/components/pagination";
@use "bulma/sass/components/panel" with (
	$panel-shadow: v.$panel-shadow
);
@forward "bulma/sass/components/tabs";

@forward "bulma/sass/elements/block";
@use "bulma/sass/elements/box" with (
	$box-shadow: v.$box-shadow
);
@forward "bulma/sass/elements/button";
@forward "bulma/sass/elements/content";
@forward "bulma/sass/elements/icon";
@forward "bulma/sass/elements/image";
@forward "bulma/sass/elements/tag";
@forward "bulma/sass/elements/title";

@forward "bulma/sass/grid";

@forward "bulma/sass/helpers/aspect-ratio";
@forward "bulma/sass/helpers/border";
@forward "bulma/sass/helpers/color";
@forward "bulma/sass/helpers/flexbox";
@forward "bulma/sass/helpers/gap";
@forward "bulma/sass/helpers/other";
@forward "bulma/sass/helpers/overflow";
@forward "bulma/sass/helpers/position";
@forward "bulma/sass/helpers/spacing";
@forward "bulma/sass/helpers/typography";
@forward "bulma/sass/helpers/visibility";

@forward "bulma/sass/layout/container";
@forward "bulma/sass/layout/footer";
@forward "bulma/sass/layout/hero";
@forward "bulma/sass/layout/level";
@forward "bulma/sass/layout/media";
@forward "bulma/sass/layout/section";

@use "bulma/sass/themes";

@forward "helpers";
@forward "components/hover";
