@use "variables" as v;

// BULMA STUFF

@use "bulma/sass/utilities" with (
    $family-primary: v.$family-primary,
    $family-secondary: v.$family-secondary
);

@forward "bulma/sass/base";
@forward "bulma/sass/components/breadcrumb";
@forward "bulma/sass/components/modal";
@use "bulma/sass/components/navbar" with (
    $navbar-background-color: v.$navbar-background-color
);
@use "bulma/sass/components/pagination" with (
    $pagination-item-border-width: v.$pagination-item-border-width,
    $pagination-shadow-inset: v.$pagination-shadow-inset
);
@forward "bulma/sass/elements/block";
@use "bulma/sass/elements/box" with (
    $box-shadow: v.$box-shadow,
    $box-radius: v.$box-radius,
    $box-background-color: v.$box-background-color
);
@forward "bulma/sass/elements/button";
@forward "bulma/sass/elements/content";
@forward "bulma/sass/elements/icon";
@forward "bulma/sass/elements/image";
@use "bulma/sass/elements/table" with (
    $table-cell-border-width: v.$table-cell-border-width,
    $table-head-cell-border-width: v.$table-head-cell-border-width,
    $table-foot-cell-border-width: v.$table-foot-cell-border-width,
    $table-background-color: v.$table-background-color
);
@forward "bulma/sass/elements/title";
@forward "bulma/sass/grid";

@forward "bulma/sass/helpers/border";
@forward "bulma/sass/helpers/color";
@forward "bulma/sass/helpers/flexbox";
@forward "bulma/sass/helpers/gap";
@forward "bulma/sass/helpers/other";
@forward "bulma/sass/helpers/overflow";
@forward "bulma/sass/helpers/position";
@forward "bulma/sass/helpers/spacing";
@forward "bulma/sass/helpers/typography";
@forward "bulma/sass/helpers/visibility";

@forward "bulma/sass/layout/container";
@use "bulma/sass/layout/footer" with (
    $footer-background-color: v.$footer-background-color
);
@forward "bulma/sass/layout/hero";
@forward "bulma/sass/layout/media";
@forward "bulma/sass/layout/section";

@forward "bulma/sass/themes";
@forward "theme";

@forward "helpers";
@use "components/hover" with (
    $transition-duration: v.$transition-duration,
    $transition-timing-function: v.$transition-timing-function
);
@use "components/modal-image" with (
    $modal-image-margin-x: v.$modal-image-margin-x,
    $modal-image-margin-y: v.$modal-image-margin-y
);
@use "components/gallery-image" with (
    $gallery-image-max-height: v.$gallery-image-max-height
);
