@import "bulma/utilities/initial-variables";

.nav-spacer {
	width: 12px;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.image-block {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 1rem;
	padding-right: 1rem;
	img {
		max-width: 70%;
	}
}

.styled-list {
	list-style: circle;
	padding-left: 1rem;
	li {
		margin-bottom: .25rem;
	}

}

.box.is-outlined {
	background-color: transparent;
	border-width: 2px;
	border-color: $white;
	border-style: solid;
}

.box.modal-details {
	background-color: transparent;
}

.modal-content {
	display: flex;
	flex-direction: column;
	img .modal-image {
		flex-basis: 90%;
	}
	.modal-details {
		flex-basis: 10%;
	}
}

.is-paddingless-mobile {
	@media screen and (max-width: $tablet - 1) {
		padding: 0;
	}
}

.is-paddingless-tablet {
	@media screen and (min-width: $tablet) {
		padding: 0;
	}
}

.is-paddingless-tablet-only {
	@media screen and (min-width: $tablet) and (max-width: $desktop - 1) {
		padding: 0;
	}
}

.is-paddingless-touch {
	@media screen and (max-width: $tablet - 1) {
		padding: 0;
	}
}

.is-paddingless-desktop {
	@media screen and (min-width: $desktop) {
		padding: 0;
	}
}

.is-paddingless-desktop-only {
	@media screen and (min-width: $desktop) and (max-width: $widescreen - 1) {
		padding: 0;
	}
}

.is-paddingless-widescreen {
	@media screen and (min-width: $widescreen) {
		padding: 0;
	}
}

.is-paddingless-widescreen-only {
	@media screen and (min-width: $widescreen) and (max-width: $fullhd - 1) {
		padding: 0;
	}
}

.is-paddingless-fullhd {
	@media screen and (min-width: $fullhd) {
		padding: 0;
	}
}
