$widths: 1, 2, 3, 4, 6, 8, 10;

@each $x in $widths {
    .has-border-#{$x} {
        border-width: $x * 1px !important;
        border-style: solid !important;
        border-color: var(--invert);
    }

    .has-border-top-#{$x} {
        border-top-width: $x * 1px !important;
        border-top-style: solid !important;
        border-color: var(--invert);
    }

    .has-border-bottom-#{$x} {
        border-bottom-width: $x * 1px !important;
        border-bottom-style: solid !important;
        border-color: var(--invert);
    }
    @each $y in $widths {
        $xpx: $x * 1px;
        $ypx: $y * 1px;
        .has-shadow-#{$x}-#{$y} {
            filter: drop-shadow($xpx $ypx var(--invert));
        }
    }
}

.has-background-invert {
    background-color: var(--invert) !important;
}

.has-text-invert {
    color: var(--invert) !important;
}

.hase-background-on-scheme {
    background-color: var(--scheme) !important;
}

.has-text-on-scheme {
    color: var(--scheme) !important;
}

.has-text-weight-black {
    font-weight: 900 !important;
}
