@use "bulma/sass/utilities/mixins";
$transition-duration: 0.3s !default;
$transition-timing-function: ease !default;
$border-width: 1px !default;
$desktop: 1024 !default;

.has-border {
  border-width: $border-width !important;
  border-style: solid !important;
  border-color: var(--scheme-invert) !important;
}

.has-border-top {
  border-top-width: $border-width !important;
  border-top-style: solid !important;
  border-top-color: var(--scheme-invert) !important;
}

.has-border-bottom {
  border-bottom-width: $border-width !important;
  border-bottom-style: solid !important;
  border-bottom-color: var(--scheme-invert) !important;
}

.has-border-right {
  border-right-width: $border-width !important;
  border-right-style: solid !important;
  border-right-color: var(--scheme-invert) !important;
}

.has-border-left {
  border-left-width: $border-width !important;
  border-left-style: solid !important;
  border-left-color: var(--scheme-invert) !important;
}

.has-background-invert {
  background-color: var(--scheme-invert) !important;
}

.has-text-invert {
  color: var(--scheme-invert) !important;
}

.has-background-on-scheme {
  background-color: var(--scheme-main) !important;
}

.has-text-on-scheme {
  color: var(--scheme-main) !important;
}

.is-transparent {
  background-color: #0000 !important;
}

.has-text-weight-black {
  font-weight: 900 !important;
}

.has-border-on-hover {
  border-width: $border-width !important;
  border-style: solid !important;
  border-color: #0000 !important;
  transition: border-width $transition-duration $transition-timing-function
    border-style $transition-duration $transition-timing-function border-color
    $transition-duration $transition-timing-function !important;
}

.has-border-on-hover:hover {
  border-width: 1px !important;
  border-style: solid !important;
  border-color: var(--scheme-invert) !important;
}

.has-text-invert-on-hover,
.has-text-on-scheme-on-hover {
  transition: color $transition-duration $transition-timing-function !important;
}

.has-background-invert-on-hover,
.has-background-on-scheme-on-hover {
  transition: background-color $transition-duration $transition-timing-function !important;
}

.has-text-invert-on-hover:hover {
  color: var(--scheme-invert) !important;
}

.has-text-on-scheme-on-hover:hover {
  color: var(--scheme-main) !important;
}

.has-background-invert-on-hover:hover {
  background-color: var(--scheme-invert) !important;
}

.has-background-on-scheme-on-hover:hover {
  background-color: var(--scheme-main) !important;
}

.is-unclickable-touch {
  @include mixins.until($desktop) {
    pointer-events: none;
  }
}
