@use "open-color/open-color" as oc;

// components
$masonry-gap: 0.5rem;

// helpers
$border-color: #fff;
$shadow-color: #fff;

// bulma utils
$family-primary: "Open Sans", sans-serif;
$family-secondary: "Avara", serif;
$gap: 32px;
$tablet: 769px;
$desktop: 960px + 2 * $gap;
$widescreen: 1152px + 2 * $gap;
$fullhd: 1344px + 2 * $gap;

// colors
$white: #fff;
$black: #000;

// bulma navbar
$navbar-background-color: #0000;

// bulma box
$box-shadow: none;
$box-radius: 0rem;
$box-background-color: #0000;

// bulma table
$table-cell-border-width: 0 0 0;
$table-head-cell-border-width: 0 0 0;
$table-foot-cell-border-width: 0 0 0;
$table-background-color: #0000;

// bulma footer
$footer-background-color: #0000;

// bulma modal
$modal-content-width: 40rem;
