$primary: hsl(171, 100%, 41%);
$background: hsl(221, 14%, 4%);

$box-shadow: none;
$panel-shadow: none;

$family-primary: '"Lato", sans-serif';
$family-primary-url: "https://fonts.googleapis.com/css?family=Lato:400,700";
