// COMPONENTS

// modal image
$modal-image-margin-x: 4rem;
$modal-image-margin-y: 4rem;
// hover
$transition-duration: 294ms;
$transition-timing-function: ease;
// gallery image
$gallery-image-max-height: 720px;

// bulma utils
$family-primary: "Open Sans", sans-serif;
$family-secondary: "Avara", serif;

$gap: 32px;
$tablet: 769px;
$desktop: 960px + 2 * $gap;

// bulma navbar
$navbar-background-color: #0000;

// bulma box
$box-shadow: none;
$box-radius: 0rem;
$box-background-color: #0000;

// bulma table
$table-cell-border-width: 0 0 0;
$table-head-cell-border-width: 0 0 0;
$table-foot-cell-border-width: 0 0 0;
$table-background-color: #0000;

// bulma footer
$footer-background-color: #0000;

// bulma pagination
$pagination-item-border-width: 1px;
$pagination-shadow-inset: none;
$pagination-disabled-border-color: #000;

// bulma-card
$card-background-color: #0000;
$card-shadow: none;
$card-radius: 0rem;
