@font-face {
	font-family: "Avara";
	src: url("../fonts/avara-bold.woff2") format("woff2"), url("../fonts/avara-bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Avara";
	src: url("../fonts/avara-bolditalic.woff2") format("woff2"), url("../fonts/avara-bolditalic.woff") format("woff");
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Avara";
	src: url("../fonts/avara-black.woff2") format("woff2"), url("../fonts/avara-black.woff") format("woff");
	font-weight: black;
	font-style: normal;
	font-display: swap;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
