{% assign image_data = site.data.images | where: 'public_id' : include.id | first %}
{% assign img_w = image_data.width | times: 1.0 %}
{% assign img_h = image_data.height | times: 1.0 %}
{% assign img_ar = img_w | divided_by: img_h %}
{% assign closest_val = nil %}
{% assign closest_i = nil %}
{% for i in (0..site.data.aspect-ratios.size) %}
    {% assign val = site.data.aspect-ratios[i].val | times: 1.0 %}
    {% assign diff = img_ar | minus: val | abs %}
    {% if (closest_val == nil) or (diff < closest_val) %}
        {% assign closest_val = diff %}
        {% assign closest_i = i %}
    {% endif %}
{% endfor %}
{% assign closest = site.data.aspect-ratios[closest_i] %}

<figure class="image has-skeleton {{ closest.ar_class }}">
    <image
        class="js-modal-trigger has-radius-normal"
        src="{{ include.src }}"
        data-target="{{ include.id }}"></image>
</figure>

<div class="modal" id="{{ include.id }}">
    <div class="modal-background"></div>
    <div class="modal-content">
        <figure class="image has-skeleton {{ closest.ar_class }}">
            <img src="{{ include.src }}" alt="">
        </figure>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>
