
{% assign one_third = 1.0 | divided_by: 3.0 %}
{% assign two_third = 2.0 | divided_by: 3.0 %}
{% assign four_third = 4.0 | divided_by: 3.0 %}
{% assign five_third = 5.0 | divided_by: 3.0 %}
{% assign sixteen_ninth = 16.0 | divided_by: 9.0 %}
{% assign image_data = site.data.images | where: "public_id": include.id | first %}

{% assign w = image_data.width | times: 1.0 %}
{% assign h = image_data.height | times: 1.0 %}
{% assign ar = 0 %}
{% unless h == nil %}
    {% assign ar = w |  divided_by: h %}
{% endunless %}

{% assign ar_class= "" %}
{% assign col_span= "" %}
{% if ar <= one_third %}{% assign ar_class = "is-1by3" %}{% assign col_span = "is-col-span-1" %}
{% else if ar <= 0.5 %}{% assign ar_class = "is-1by2" %}{% assign col_span = "is-col-span-2" %}
{% else if ar <= 0.5625 %}{% assign ar_class = "is-9by16" %}{% assign col_span = "is-col-span-2" %}
{% else if ar <= 0.6 %}{% assign ar_class = "is-3by5" %}{% assign col_span = "is-col-span-2" %}
{% else if ar <= two_third %}{% assign ar_class = "is-2by3" %}{% assign col_span = "is-col-span-3" %}
{% else if ar <= 0.75 %}{% assign ar_class = "is-3by4" %}{% assign col_span = "is-col-span-3" %}
{% else if ar <= 0.8 %}{% assign ar_class = "is-4by5" %}{% assign col_span = "is-col-span-3" %}
{% else if ar <= 1.0 %}{% assign ar_class = "is-1by1" %}{% assign col_span = "is-col-span-4" %}
{% else if ar <= 1.25 %}{% assign ar_class = "is-5by4" %}{% assign col_span = "is-col-span-5" %}
{% else if ar <= four_third %}{% assign ar_class = "is-4by3" %}{% assign col_span = "is-col-span-5" %}
{% else if ar <= 1.5 %}{% assign ar_class = "is-3by2" %}{% assign col_span = "is-col-span-6" %}
{% else if ar <= five_third %}{% assign ar_class = "is-5by3" %}{% assign col_span = "is-col-span-7" %}
{% else if ar <= sixteen_ninth %}{% assign ar_class = "is-16by9" %}{% assign col_span = "is-col-span-7" %}
{% else if ar <= 2.0 %}{% assign ar_class = "is-2by1" %}{% assign col_span = "is-col-span-8" %}
{% else %}{% assign ar_class = "is-3by1" %}{% assign col_span = "is-col-span-12" %}
{% endif %}

<div class="cell {{ col_span }}">
    <image class="image js-modal-trigger {{ ar_class }}" src="{{ include.src }}" data-target="{{ include.id }}"></image>
</div>