{% assign src = site.cloud_name | image_url: include.id, 'jpeg' %}
{% capture i %}{% increment i %}{% endcapture %}
<a href="#modal-{{ i }}">
  <figure class="image">
    <img src="{{ src }}" />
  </figure>
</a>

<div class="modal" id="modal-{{ i }}">
  <a href="#">
    <div class="modal-background"></div>
    <div class="modal-content">
      <figure class="image">
        <img src="{{ src }}" />
      </figure>
    </div>
  </a>
</div>

<style>
  #modal-{{ i }}:target {
    display: flex;
  }



</style>
