<div class="is-size-5">
  {%- for key in site.data.meta.keys -%}
    {%- if include.meta[key.id] -%}
      {%- assign vals = page.meta[key.id] -%}
      {%- if key.id == 'links' -%}
        {%- for val in vals -%}
          {%- assign id = val[0] -%}
          {%- assign url = val[1] -%}
          {%- assign val_data = site.data.meta.vals
            | where: 'key', key
            | where: 'id', id
            | first -%}
          <span class="icon-text">
            <span class="icon">\
              <span class="{{ val_data.icon }}">
              </span>
            </span>
            <span>
              <b>
                {{- val_data.title | append: ': ' -}}
              </b>
            </span>
            <a href="{{ url }}">
              {{ url }}
            </a>
          </span>
          {%- unless forloop.last -%}
          </br>
          {% endunless %}
        {%- endfor -%}
      {%- else %}
        <span class="icon-text">
          <span class="icon">
            <span class="{{ key.icon }}">
            </span>
          </span>
          <span>
            <b>
              {{- key.title -}}{{- ': ' -}}
            </b>
            {%- for val in vals -%}
              {%- assign val_data = site.data.meta.vals
                | where: 'key', key
                | where: 'id', val
                | first -%}
              {%- if val_data -%}
                {%- if val_data.link -%}
                  <a href="{{- val_data.link -}}">
                    {{- val_data.title -}}
                  </a>
                {%- else -%}
                  {{- val_data.title -}}
                {%- endif -%}
              {%- else -%}
                <span>
                  {{val}}
                </span>
              {%- endif -%}
              {%- unless forloop.last -%}
                {{- ', ' -}}
              {%- endunless -%}
            {%- endfor -%}
          </span>
        </span>
      {% endif %}
			</br>
		{%- endif -%}
	{%- endfor -%}
</div>
