.carousel-item {
	padding-left: 0 !important;
	padding-right: 0 !important;
	cursor: pointer;
}

.carousel-nav-left {
	// border-radius: 5.5px;
}

.carousel-nav-right {
	// border-radius: 5.5px;
}

.carousel-navigation {
	// margin-top: .75rem;
}
