@use 'sass:math';

// $_bg: hsl(221, 14%, 4%) !default;
$_bg: hsl(153,87%,6%) !default;
$_fg: hsl(221, 14%, 29%) !default;
$_size: 12px !default;

$patterns: (
    "bayer-4x4-00":  (
        background-color: $_bg,
        opacity: 1,
        background-image: linear-gradient($_fg 0%, $_fg 100%),
        background-size: $_size $_size
    ),
    "bayer-4x4-02": (
        background-color: $_bg,
        opacity: 1,
        background-image: (
            linear-gradient(transparent, transparent 25%, $_fg 25%, $_fg 50%, transparent 50%, transparent 75%, $_fg 75%, $_fg 100%),
            linear-gradient(to right, transparent, transparent 25%, $_fg 25%, $_fg 50%, transparent 50%, transparent 75%, $_fg 75%, $_fg 100%),
            linear-gradient(135deg, transparent, transparent 25%, $_fg 25%, $_fg 50%, transparent 50%, transparent 75%, $_fg 75%, $_fg 100%)
        ),
        background-size: $_size $_size
    ),
    "bayer-4x4-03": (
        background-color: $_bg,
        opacity: 1,
        background-image: (
            linear-gradient(135deg, $_fg, $_fg 25%, transparent 25%, transparent 100%),
            linear-gradient(transparent, transparent 25%, $_fg 25%, $_fg 50%, transparent 50%, transparent 75%, $_fg 75%, $_fg 100%),
            linear-gradient(to right, transparent, transparent 25%, $_fg 25%, $_fg 50%, transparent 50%, transparent 75%, $_fg 75%, $_fg 100%)
        ),
        background-size: $_size $_size,
        background-position: (
            calc($_size * .5) 0,
            left top, 
            left top
        )
    ),
    "bayer-4x4-04": (
        background-color: $_bg,
        opacity: 1,
        background-image: (  
            linear-gradient(transparent, transparent 25%, $_fg 25%, $_fg 50%, transparent 50%, transparent 75%, $_fg 75%, $_fg 100%),
            linear-gradient(to right, transparent, transparent 25%, $_fg 25%, $_fg 50%, transparent 50%, transparent 75%, $_fg 75%, $_fg 100%)
        ),
        background-size: $_size $_size
    ),
    "bayer-4x4-05": (
        background-color: $_bg,
        opacity: 1,
        background-image: (
            linear-gradient(transparent 0%, transparent 75%, $_fg 75%, $_fg 100%),
            linear-gradient(to right, transparent 0%, transparent 75%, $_fg 75%, $_fg 100%),
            linear-gradient(45deg, $_fg 25%, transparent 25%, transparent 75%, $_fg 75%, $_fg 100%), 
            linear-gradient(45deg, $_fg 25%, $_bg 25%, $_bg 75%, $_fg 75%, $_fg 100%)
        ),
        background-size: (
            $_size $_size,
            $_size $_size,
            calc($_size * .5) calc($_size * .5),
            calc($_size * .5) calc($_size * .5)
        ),
        background-position: (
            left top,
            left top,
            left top,
            calc($_size * .25) calc($_size * .25)
        )
    ),
    "bayer-4x4-06": (
        background-color: $_bg,
        opacity: 1,
        background-image: (
            linear-gradient(135deg, $_fg, $_fg 25%, transparent 25%, transparent 100%),
            linear-gradient(135deg, $_fg, $_fg 25%, transparent 25%, transparent 100%),
            linear-gradient(45deg, $_fg, $_fg 25%, transparent 25%, transparent 75%, $_fg 75%, $_fg 100%), 
            linear-gradient(45deg, $_fg, $_fg 25%, $_bg 25%, $_bg 75%, $_fg 75%, $_fg 100%)
        ),
        background-size: (
            $_size $_size,
            $_size $_size,
            calc($_size * .5) calc($_size * .5),
            calc($_size * .5) calc($_size * .5)
        ),
        background-position: (
            left calc($_size * .25) top calc($_size * .75),
            left calc($_size * .75) top calc($_size * .25),
            left top,
            calc($_size * .25) calc($_size * .25)
        )
    ),
    "bayer-4x4-07": (
        background-color: $_bg,
        opacity: 1,
        background-image: (
            linear-gradient(135deg, $_fg, $_fg 25%, transparent 25%, transparent 100%),
            linear-gradient(45deg, $_fg, $_fg 25%, transparent 25%, transparent 75%, $_fg 75%, $_fg 100%), 
            linear-gradient(45deg, $_fg, $_fg 25%, $_bg 25%, $_bg 75%, $_fg 75%, $_fg 100%)
        ),
        background-size: (
            $_size $_size,
            calc($_size * .5) calc($_size * .5),
            calc($_size * .5) calc($_size * .5)
        ),
        background-position: (
            left calc($_size * .75) top calc($_size * .25),
            left top,
            calc($_size * .25) calc($_size * .25)
        )
    ),
    "bayer-4x4-08": (
        background-color: $_bg,
        opacity: 1,
        background-image:  (
            linear-gradient(45deg, $_fg, $_fg 25%, transparent 25%, transparent 75%, $_fg 75%, $_fg 100%), 
            linear-gradient(45deg, $_fg, $_fg 25%, $_bg 25%, $_bg 75%, $_fg 75%, $_fg 100%)
        ),
        background-size: (
            calc($_size * .5) calc($_size * .5),
            calc($_size * .5) calc($_size * .5)
        ),
        background-position: (
            left top,
            calc($_size * .25) calc($_size * .25)
        )
    ),
    "bayer-4x4-09": (
        background-color: $_bg,
        opacity: 1,
        background-image: (
            linear-gradient(135deg, transparent, transparent 87.5%, $_bg 87.5%, $_bg 100%),
            linear-gradient(135deg, $_bg, $_bg 12.5%, transparent 12.5%, transparent 100%),
            linear-gradient(45deg, $_fg, $_fg 25%, transparent 25%, transparent 75%, $_fg 75%, $_fg 100%), 
            linear-gradient(45deg, $_fg, $_fg 25%, $_bg 25%, $_bg 75%, $_fg 75%, $_fg 100%)
        ),
        background-size: (
            $_size $_size,
            $_size $_size,
            calc($_size * .5) calc($_size * .5),
            calc($_size * .5) calc($_size * .5)
        ),
        background-position: (
            left calc($_size * .25) top calc($_size * .5),
            left top calc($_size * .25),
            left top,
            calc($_size * .25) calc($_size * .25)
        )
    ),
    "bayer-4x4-10": (
        background-color: $_bg,
        opacity: 1,
        background-image: (
            linear-gradient(135deg, transparent, transparent 87.5%, $_bg 87.5%, $_bg 100%),
            linear-gradient(135deg, $_bg, $_bg 12.5%, transparent 12.5%, transparent 100%),
            linear-gradient(135deg, transparent, transparent 87.5%, $_bg 87.5%, $_bg 100%),
            linear-gradient(135deg, $_bg, $_bg 12.5%, transparent 12.5%, transparent 100%),
            linear-gradient(45deg, $_fg, $_fg 25%, transparent 25%, transparent 75%, $_fg 75%, $_fg 100%), 
            linear-gradient(45deg, $_fg, $_fg 25%, $_bg 25%, $_bg 75%, $_fg 75%, $_fg 100%)
        ),
        background-size: (
            $_size $_size,
            $_size $_size,
            $_size $_size,
            $_size $_size,
            calc($_size * .5) calc($_size * .5),
            calc($_size * .5) calc($_size * .5)
        ),
        background-position: (
            left calc($_size * .75) top,
            left calc($_size * .5) top calc($_size * .75),
            left calc($_size * .25) top calc($_size * .5),
            left top calc($_size * .25),
            left top, calc($_size * .25) calc($_size * .25)
        ),
    ),
    "bayer-4x4-11": (
        background-color: $_bg,
        opacity: 1,
        background-image: (
            linear-gradient(45deg, $_bg, $_bg 25%, transparent 25%, transparent 100%),
            linear-gradient(135deg, transparent, transparent 87.5%, $_bg 87.5%, $_bg 100%),
            linear-gradient(135deg, $_bg, $_bg 12.5%, transparent 12.5%, transparent 100%),
            linear-gradient(135deg, transparent, transparent 87.5%, $_bg 87.5%, $_bg 100%),
            linear-gradient(135deg, $_bg, $_bg 12.5%, transparent 12.5%, transparent 100%),
            linear-gradient(45deg, $_fg, $_fg 25%, transparent 25%, transparent 75%, $_fg 75%, $_fg 100%),
            linear-gradient(45deg, $_fg, $_fg 25%, $_bg 25%, $_bg 75%, $_fg 75%, $_fg 100%)
        ),
        background-size: (
            $_size $_size,
            $_size $_size,
            $_size $_size,
            $_size $_size,
            $_size $_size,
            calc($_size * .5) calc($_size * .5),
            calc($_size * .5) calc($_size * .5)
        ),
        background-position: (
            left top,
            left calc($_size * .75) top,
            left calc($_size * .5) top calc($_size * .75),
            left calc($_size * .25) top calc($_size * .5),
            left top calc($_size * .25),
            left top, calc($_size * .25) calc($_size * .25)
        )
    ),
    "bayer-4x4-12": (
        background-color: $_fg,
        opacity: 1,
        background-image: (
            linear-gradient(transparent, transparent 25%, $_bg 25%, $_bg 50%, transparent 50%, transparent 75%, $_bg 75%, $_bg 100%)
            linear-gradient(to right, $_bg, $_bg 25%, transparent 25%, transparent 50%, $_bg 50%, $_bg 75%, transparent 75%, transparent 100%)
        ),
        background-size: (
            $_size $_size,
            $_size $_size
        )
    ),
    "bayer-4x4-13": (
        background-color: $_fg,
        opacity: 1,
        background-image: (
            linear-gradient(135deg, $_bg, $_bg 37.5%, transparent 37.5%, transparent 100%),
            linear-gradient(transparent, transparent 25%, $_bg 25%, $_bg 50%, transparent 50%, transparent 75%, $_bg 75%, $_bg 100%),
            linear-gradient(to right, $_bg, $_bg 25%, transparent 25%, transparent 50%, $_bg 50%, $_bg 75%, transparent 75%, transparent 100%)
        ),
        background-size: (
            $_size $_size,
            $_size $_size,
            $_size $_size
        )
    ),
    "bayer-4x4-14": (
        background-color: $_fg,
        opacity: 1,
        background-image: (
            linear-gradient(135deg, $_bg, $_bg 37.5%, transparent 37.5%, transparent 100%),
            linear-gradient(135deg, $_bg, $_bg 37.5%, transparent 37.5%, transparent 100%),
            linear-gradient(transparent, transparent 25%, $_bg 25%, $_bg 50%, transparent 50%, transparent 75%, $_bg 75%, $_bg 100%),
            linear-gradient(to right, $_bg, $_bg 25%, transparent 25%, transparent 50%, $_bg 50%, $_bg 75%, transparent 75%, transparent 100%)
        ),
        background-size: (
            $_size $_size,
            $_size $_size,
            $_size $_size,
            $_size $_size
        ),
        background-position: (
            left calc($_size * .5) top calc($_size * .5),
            left top,
            left top,
            left top
        )
    ),
    "bayer-4x4-15": (
        background-color: $_fg,
        opacity: 1,
        background-image: (
            linear-gradient(45deg, $_bg, $_bg 75%, transparent 75%, transparent 100%),
            linear-gradient(transparent, transparent 25%, $_bg 25%, $_bg 50%, transparent 50%, transparent 75%, $_bg 75%, $_bg 100%),
            linear-gradient(to right, $_bg, $_bg 25%, transparent 25%, transparent 50%, $_bg 50%, $_bg 75%, transparent 75%, transparent 100%)
        ),
        background-size: (
            $_size $_size,
            $_size $_size,
            $_size $_size
        )
    ),
    "bayer-4x4-16": (
        background-color: $_bg,
        opacity: 1,
        background-image: linear-gradient(transparent 0%, transparent 100%),
        background-size: $_size $_size
    ),
    "macpaint-02": macpaint-02($_fg, $_bg),
    "macpaint-02-inverse": macpaint-02($_bg, $_fg),
    "macpaint-09": macpaint-09($_fg, $_bg),
    "macpaint-09-inverse": macpaint-09($_bg, $_fg)
);

@function macpaint-02($fg, $bg) {
    @return (
        background-color: $bg,
        opacity: 1,
        background-image: (
            linear-gradient(135deg, $fg, $fg 12.5%, transparent 12.5%, transparent 100%),
            linear-gradient(315deg, $fg, $fg 12.5%, transparent 12.5%, transparent 100%),
            linear-gradient(135deg, $fg, $fg 12.5%, transparent 12.5%, transparent 100%),
            linear-gradient(315deg, $fg, $fg 12.5%, transparent 12.5%, transparent 100%),
            linear-gradient(135deg, $fg, $fg 12.5%, transparent 12.5%, transparent 100%),
            linear-gradient(315deg, $fg, $fg 12.5%, transparent 12.5%, transparent 100%),
            linear-gradient(135deg, $fg, $fg 12.5%, transparent 12.5%, transparent 100%),
            linear-gradient(315deg, $fg, $fg 12.5%, transparent 12.5%, transparent 100%)
        ),
        background-size: $_size $_size,
        background-position: (
            left top calc($_size * .25),
            left calc($_size * .25) top calc($_size * .5),
            left top calc($_size * .75),
            left calc($_size * .25) top,
            left calc($_size * .5) top,
            left calc($_size * .75) top calc($_size * .25),
            left calc($_size * .5) top calc($_size * .5),
            left calc($_size * .75) top calc($_size * .75)
        )
    );
}

@function macpaint-09($fg, $bg) {
    @return (
        background-color: $bg,
        opacity: 1,
        background-image: (
            linear-gradient(135deg, $fg, $fg math.percentage(calc(1 / 16)), transparent math.percentage(calc(1 / 16)), transparent 100%),
            linear-gradient(315deg, $fg, $fg math.percentage(calc(1 / 16)), transparent math.percentage(calc(1 / 16)), transparent 100%),
            linear-gradient(135deg, $fg, $fg math.percentage(calc(1 / 16)), transparent math.percentage(calc(1 / 16)), transparent 100%),
            linear-gradient(315deg, $fg, $fg math.percentage(calc(1 / 16)), transparent math.percentage(calc(1 / 16)), transparent 100%),
            linear-gradient(135deg, $fg, $fg math.percentage(calc(1 / 16)), transparent math.percentage(calc(1 / 16)), transparent 100%),
            linear-gradient(315deg, $fg, $fg math.percentage(calc(1 / 16)), transparent math.percentage(calc(1 / 16)), transparent 100%),
            linear-gradient(135deg, $fg, $fg math.percentage(calc(1 / 16)), transparent math.percentage(calc(1 / 16)), transparent 100%),
            linear-gradient(315deg, $fg, $fg math.percentage(calc(1 / 16)), transparent math.percentage(calc(1 / 16)), transparent 100%),
            linear-gradient(135deg, $fg, $fg math.percentage(calc(1 / 16)), transparent math.percentage(calc(1 / 16)), transparent 100%),
            linear-gradient(315deg, $fg, $fg math.percentage(calc(1 / 16)), transparent math.percentage(calc(1 / 16)), transparent 100%),
            linear-gradient(135deg, $fg, $fg math.percentage(calc(1 / 16)), transparent math.percentage(calc(1 / 16)), transparent 100%),
            linear-gradient(315deg, $fg, $fg math.percentage(calc(1 / 16)), transparent math.percentage(calc(1 / 16)), transparent 100%),
            linear-gradient(135deg, $fg, $fg math.percentage(calc(1 / 16)), transparent math.percentage(calc(1 / 16)), transparent 100%),
            linear-gradient(315deg, $fg, $fg math.percentage(calc(1 / 16)), transparent math.percentage(calc(1 / 16)), transparent 100%),
            linear-gradient(135deg, $fg, $fg math.percentage(calc(1 / 16)), transparent math.percentage(calc(1 / 16)), transparent 100%),
            linear-gradient(315deg, $fg, $fg math.percentage(calc(1 / 16)), transparent math.percentage(calc(1 / 16)), transparent 100%)
        ),
        background-size: $_size*2 $_size*2,
        background-position: (
            left top, 
            left calc($_size * .25) top calc($_size * .25), 
            left calc($_size * .75) top calc($_size * .25), 
            left $_size top calc($_size * .5),
            left calc($_size * 1.5) top calc($_size * .5),
            left calc($_size * 1.75) top calc($_size * .75),
            left calc($_size * .5) top calc($_size * .75),
            left calc($_size * .75) top $_size,
            left calc($_size * 1.75) top $_size,
            left top calc($_size * 1.25),
            left $_size top calc($_size * 1.25),
            left calc($_size * 1.25) top calc($_size * 1.5),
            left calc($_size * .25) top calc($_size * 1.5),
            left calc($_size * .5) top calc($_size * 1.75),
            left calc($_size * 1.25) top calc($_size * 1.75), 
            left calc($_size * 1.5) top
        )
    );
}