.profile-container {
	display: flex;
	// flex-basis: 50%;
	flex-shrink: 0;
	justify-content: center;
	// padding-left: 1rem;
	// padding-right: 1rem;

	img {
		background-color: #263238;
		border-radius: 50%;
		padding: 1rem;
		max-width: 240px;
		width: 80%;
		height: 80%;
	}
}
