---
layout: default
---
{% assign title = page.category | capitalize %}

{% assign artwork = "" | split: "" %}
{% for art in site.artwork %}
    {% if art.categories contains page.category %}
    {% assign artwork = artwork | push: art %}
    {% endif %}
{% endfor %}
{% assign artwork = artwork | reverse %}

{% include hero.html title = title subtitle = page.subtitle %}

<div class="section"><div class="container">
    {% include artwork-tabs.html category = page.category %}
    {% include artwork-grid.html artwork = artwork %}
    {{ content }}
</div></div>
