---
layout: default
---
<div class="is-flex-tablet is-fullwidth pb-2">
  <div class="box has-border is-flex-tablet is-fullwidth is-flex-grow-0">
    {% include breadcrumbs.html url=page.url %}
  </div>
</div>
<div class="columns is-1 is-multiline">
  {% for post in paginator.posts %}
    <div class="column is-one-third-desktop is-half-tablet is-full-mobile">
      {% include card.html public_id = post.thumb title = post.title url = post.url date = post.date
      %}
    </div>
  {% endfor %}
</div>
{% assign pages = site.posts
  | where_exp: 'post', 'post.categories contains page.pagination.category' %}

{% unless pages.size <= site.pagination.per_page %}
  <div class="box has-border mt-2">
    {% include pagination.html %}
  </div>
{% endunless %}
