<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{% include head.html %}
	<body>
		{% include header.html %}

		<section class="hero is-primary is-medium">
			<div class="hero-body">
				<div class="container">
					<h1 class="title is-1">{{ page.tag }}</h1>
					<h2 class="subtitle is-3">{{ page.subtitle }}</h2>
				</div>
			</div>
		</section>

		<div class="section"><div class="container">
			<div class="tabs is-medium"><ul>
				{% for link in site.data.portfolio-nav %}
					{% if link.href == page.url %}
						{% assign isactive = 'is-active' %}
					{% else %}
						{% assign isactive = '' %}
					{% endif %}
					<li class="{{ isactive }}"><a href="{{ link.href }}">{{ link.title }}</a></li>
				{% endfor %}
			</ul></div>
			{{ content }}
		</div></div>

		{% include footer.html %}
	</body>
</html>
