---
layout: default
---
<section class="hero is-dark">
	<div class="hero-body"><div class="container">

		<div class="columns">

			<div class="column"><div>
				<p class="title is-1 is-capitalized">{{ page.title }}</p>
				<p class="subtitle is-3">{{ page.subtitle | capitalize }}</p>
			</div></div>

			<div class="column is-narrow"><p class="tags">
				{% for category in page.categories %}
					{% if category == 'code' %}{% assign link = '/code/' %}
					{% else %}{% assign link = '/code/'{{category}}'/' %}
					{% endif %}
					<a class="tag is-light is-large" href="{{ link }}">{{category}}</a>
				{% endfor %}
			</p></div>

		</div>

	</div></div>
	<div class="hero-foot"><div class="container">
		<div class="tabs is-medium is-boxed is-right"><ul>
			{% if page.github_link %}
				<li><a href="{{page.github_link}}">
					<span class="icon"><i class="fab fa-github"></i></span>
					<span>GitHub Repository</span>
				</a></li>
			{% endif %}

			{% if page.gitlab_link %}
			<li><a href="{{page.gitlab_link}}">
				<span class="icon"><i class="icon-gitlab-logo"></i></span>
				<span>GitLab Repository</span>
			</a></li>
			{% endif %}

			{% if page.codepen_link %}
				<li><a href="{{page.codepen_link}}">
					<span class="icon"><i class="fab fa-codepen"></i></span>
					<span>Codepen Demo</span>
				</a></li>
			{% endif %}

			{% if page.heroku_link %}
				<li><a href="{{page.heroku_link}}">
					<span class="icon"><i class="icon-heroku-logo-solid"></i></span>
					<span>Heroku Demo</span>
				</a></li>
			{% endif %}

			{% if page.replit_link %}
				<li><a href="{{page.replit_link}}">
					<span class="icon"><i class="icon-replit-logo"></i></span>
					<span>Repl.it Demo</span>
				</a></li>
			{% endif %}

			{% if page.codesandbox_link %}
			<li><a href="{{page.codesandbox_link}}">
				<span class="icon"><i class="icon-codesandbox-logo"></i></span>
				<span>CodeSandbox Demo</span>
			</a></li>
			{% endif %}

			{% if page.live_link %}
				<li><a href="{{page.live_link}}">
					<span class="icon"><i class="fas fa-link"></i></span>
					<span>Live Website</span>
				</a></li>
			{% endif %}
		</ul></div>
	</div></div>
</section>

<div class="section"><div class="container">

	{% if page.images %}
		{% include another-carousel.html images=page.images %}
	{% endif %}

	<p class="subtitle is-4"><time datetime="2016-1-1">{{ page.date | date_to_long_string | upcase }}</time></p>

	<div class="post-content content has-text-weight-light is-size-5">
		{{ page.content | default: 'More info about this project coming soon. Stay tuned!' }}
	</div>

	<div class="is-divider"></div>

	<div class="field is-grouped is-grouped-multiline">
		{% for tag in page.tags %}
			{% assign tag_data = site.data.tags | where: "name", tag | first %}
			<div class="control"><div class="tags has-addons">
				<span class="tag is-rounded is-medium is-{{ tag_data.color }}">{{ tag_data.type }}</span>
				<a href="{{ tag_data.href }}" class="tag is-light is-rounded is-medium">{{ tag }}</a>
			</div></div>
		{% endfor %}
	</div>

</div></div>
