---
layout: default
---
{% assign title = page.title | default: page.category %}
{% assign category = page.category | default: 'code' %}

<section class="hero is-primary is-medium">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">{{ title }}</h1>
            <h2 class="subtitle">{{ page.subtitle }}</h2>
        </div>
    </div>
    <div class="hero-foot">
        <div class="container">
            {% include tabs.html category = category subcategory = page.subcategory %}
        </div>
    </div>
</section>

{{ content }}

<div class="section"><div class="container">

    <div class="columns is-5 is-variable is-desktop">
        <div class="column is-three-quarters-desktop">

			{% for post in paginator.posts %}
				{% include code-card.html post=post %}
			{% endfor %}

			{% include page-nav.html paginator=paginator %}
        </div>
        <div class="column is-one-quarter-desktop">
            {% include tags-panel.html category = category tag = page.tag %}
        </div>
    </div>



</div></div>
