---
layout: default
---
{% assign capital_category = page.category | capitalize %}
{% assign title = page.title | default: capital_category %}
{% include hero.html title = title subtitle = page.subtitle %}

<div class="section"><div class="container">
	<div class="tabs is-medium portfolio-tabs"><ul>

		{% if page.url == '/portfolio/' or page.url == '/portfolio.html' %}
			{% assign latest_isactive = 'is-active' %}
			{% assign posts = site.posts %}
		{% else %}
			{% assign latest_isactive = '' %}
		{% endif %}

		<li class="{{ latest_isactive }}"><a href="/portfolio/ }}">Latest</a></li>

		{% for category in site.categories %}
			{% assign category_url = "/portfolio/" | append: category[0] | append: '/' %}
			{% assign category_title = category[0] | capitalize %}

			{% if (category_url == page.url) and latest_isactive == '' %}
				{% assign isactive = 'is-active' %}

				{% assign posts = "" | split: "" %}
				{% for post in site.posts %}
					{% if post.categories contains page.category %}
					{% assign posts = posts | push: post %}
					{% endif %}
				{% endfor %}

			{% else %}
				{% assign isactive = '' %}
			{% endif %}

			<li class="{{ isactive }}"><a href="/portfolio/{{ category[0] }}">{{ category_title }}</a></li>
		{% endfor %}
	</ul></div>
	{% include image-grid.html images = posts %}
	{{ content }}
</div></div>
