---
layout: default
---
{% include portfolio/hero.html title=page.title subtitle=page.subtitle type=page.type uid=page.uid %}
<section class="section">
	<div class="box has-border-2">
		{% include portfolio/breadcrumbs.html url=page.url %}
	</div>
	<div class="columns is-4">
		<div class="column is-two-thirds"><div class="columns is-multiline">
			{% for post in paginator.posts %}
				<div class="column is-one-third">
					{% include portfolio/card.html post=post %}
				</div>
			{% endfor %}
		</div></div>
		<div class="column"><div class="box has-border-2">
			{% include portfolio/tags-panel.html %}
		</div></div>
	</div>
	<div class="box has-border-2">
		{% include portfolio/pagination.html %}
	</div>

</section>
{% comment %} <div class="columns">
	<div class="column"></div>
	<div class="column is-three-fifths">



	</div>
	<div class="column is-one-fifth">

	</div>
	<div class="column"></div>
</div> {% endcomment %}